@import 'base.css';

body {
  background: #1f1a00;
}

#app {
  max-width: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #273b87;
  transition: color 0.3s ease;
  padding: 3px;
}

a:hover {
  color: #1c2a60;
}
